@model VideoSharing.Areas.Admin.ViewModels.UsersEdit

<h1>Edit User @Model.NickName</h1>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    
    <div class="form-group">
        @Html.LabelFor(f => f.NickName)
        @Html.TextBoxFor(f => f.NickName, new { @class = "form-control" })

    </div>
    
    <div class="form-group">
        @Html.LabelFor(f=>f.Email)
        @Html.TextBoxFor(f => f.Email, new { @class= "form-control",type="email"})
    </div>
    
    @Html.Partial("_RoleEditor", Model.Roles)
    
    <input type="submit" value="Update User" class="btn btn-primary"/>
    <a href="@Url.Action("index")">or cancel</a>
}